/*======================================== Alumno-Profe*/
body
{
	background-color: #fff;
	background-image: url('../img/texture-white.png');
	min-width: 700px;
	font-family: 'Helvetica neue', Helvetica, Arial;
}
header
{
	
}

.my-container
{
	margin-top:50px;
	min-width: 727px;
	max-width: 1200px;
	margin-right: 5%;
	margin-left:5%;
}

.my-header
{
	height: 50px;
	background-color: #000;
}

.my-sub-header
{
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
}

.my-nombre
{
	color: #008B00;
	text-align: left;
	padding-right: 20px;
	padding-top: 15px;
}

.my-foto
{
float: left;
}

.my-container-materias
{
	 
}

.my-container-comentarios
{

		background-image: url('../img/textura-gris1.png');
		padding-top: 20px;
		padding-bottom: 20px;
	float: left;
}


.my-materia
{
	width: 500px;
	border: 20px solid #fff;
	box-shadow: 0px 0px 15px #000;
	margin: 20px;
	width: 200px;
	height: 200px;
	float: left;
	background-color: #8DD404;
	background-image: url('../img/texture-green5.png');
	padding: 20px;
	text-align: center;

}

.my-materia:hover
{
	box-shadow: 0px 0px 40px #000;
}
