/*======================================== Alumno-Profe*/
body
{
	background-color: #fff;
	min-width: 700px;
	margin: 0px;
	font-family: 'Helvetica neue', Helvetica, Arial;
}
header
{
	background-color: #000;
	height: 50px;
}

.my-container
{
	margin-top:50px;
	min-width: 727px;
	max-width: 1200px;
	margin-right: 5%;
	margin-left:5%;
}

.my-header
{
	height: 50px;
	background-color: #000;
}

.my-sub-header
{

padding-bottom: 20px;

}

.my-nombre
{
	color: #8DD404;
	text-align: right;
	padding-right: 20px;
	padding-top: 15px;
}

.my-foto
{
float: right;
}

.my-container-materias
{
	
}


.my-materia
{
	border: 20px solid #fff;
	box-shadow: 0px 0px 15px #000;
	margin: 20px;
	width: 200px;
	height: 200px;
	float: left;
	background-color: #8DD404;
	background-image: url('../img/texture-green.png');
	padding: 20px;
	text-align: center;
	
}

.my-materia:hover
{
	box-shadow: 0px 0px 40px #000;
}
