body
{
	background-color:#fff;
	background-image: url('../img/texture-white.png');
	margin-top: 10px;
	font-family: 'Helvetica neue', Helvetica, Arial;
}

header
{

	background-color:#eee;
	height: 50px;
	padding: 10px;
	font-weight: bold;
	font-size: 1.3em;

}

footer
{
	background-image: url('../img/texture-gray.png');
	margin-top:100px;
	color: #fff;
	text-align: center;
	border-top: 1px solid #777;
	box-shadow:inset 0px 2px 5px #777;
	padding:50px;
	text-shadow:0px 3px 3px #777;
}
#calendar
{
	width:150px;
}

.my-nav
{
}

.my-img-tab
{
	/*padding: 20px;
	width: 50px;
	height: 50px;	
	background-color:#8DD404;
	background-image: url('../img/texture-green5.png');*/
	width: 55px;
	-webkit-transition:.3s;
}

.my-img-tab:hover
{
	box-shadow: 0px 1px #fff,inset 0px 3px 5px #444;
	background-image: url('../img/texture-green3.png');

}


.my-tex-nav
{
	font-size: 0px;
	padding-top: 15px;
	text-align: center;
	-webkit-transition:.3s;
	width: 50px;
	overflow: visible;
}

.my-show-tex
{
	font-weight: bold;
	font-size: 20px;
}

.my-center
{
	text-align: center;
}

.contenedor
{

	border: 1px solid #bbb;
	width: 485px;
}

.my-inline
{
  display:inline-block;
  vertical-align:middle;
}

.divalignright
{
	width:150px;
	margin-left:auto;
	margin-right:0px;
}

.my-encabezado-calendar
{
text-align: center;
height: 50px;
background-color: #bbb;
width: 487px;
padding-top: 20px;
}

.hora
{
	text-align: right;
	height:50px;
	width: 50px;
	padding-left: 10px;
}

.hora-completa
{

	height:50px;
	width:400px;
	border-left: 1px solid #ddd;

}

.renglon
{
	width:530px;

}

.menu1
{
	width:335px;
	

}

.menu2
{
	width:200px;
	border:1px red solid;


}
.media1
{
	background-color: #eee;
	height: 25px;
	padding-left: 20px;
	width: 400px;
	z-index: -10;
	
	
}

.media2
{
	background-color: #fbfbfb;
	height: 25px;
	padding-left: 20px;
	width: 400px;
	z-index: -10;
}

.media1:hover
{
	box-shadow: 0px -2px 5px #999, inset 0px -1px 3px #aaa;
	z-index: 9999;
}

.media2:hover
{
	box-shadow: 0px -2px 5px #999, inset 0px -1px 3px #aaa;
	z-index: 9999;
}

.my-textarea_stream
{
	min-width:410px;	
	resize: none; 
}
.my-textarea
{
	min-width:690px;	
	resize: none; 
}
.my-img-secu
{
	width: 100%;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.my-img-lisdocente
{
	width: 50%;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.my-text-lisdocente
{
	width: 45%;
	float: right;
}